body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #000000;
}



header .logo h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    font-weight: 500;
    color: #ccc;
}

nav ul li a:hover {
    color: #376072;
}


.seccion {
    background-image: url('../img/tec.jpeg');
    background-size: cover;
    background-position: center;
    padding: 259px 20px;
    text-align: center;
    color: #fff;
}
.text h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 2.5);
    
}

.boton {
    background-color: #376072;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #25414e;
}