body {
    background: linear-gradient(#00000055), url(../img/cup-coffe.jpeg);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 55px;
    color: #eee;

}

.header {
    text-align: center;
}

.form-content-formulario {
    max-width: 500px;
    margin: 0;
    margin: auto;
    background: #0009;
    border: 2px solid #376072;
    border-radius: 30px;
    box-shadow: 0 0 25px 5px #376072;
}

.div-input-form {
    padding: 0.6% 15%;
    margin-bottom: 2%;
}

.gen-input-form,
.gen-select-form {
    width: 100%;
    padding: 1.5% 2%;
    background: linear-gradient(to top, #0009, #0007);
    color: white;
    border: none;
    border-radius: 0 0 20px 20px;
    border-bottom: 2px solid #376072;
    box-shadow: 0 5px 15px 0 #376072;
}

.gen-option {
    background: #000;
}

.gen-label-form {
    line-height: 3;
}

.gen-fieldset {
    margin: 0;
    margin: 30px;
    border-radius: 20px;
}

.gen-legend {
    text-align: center;
    padding: 0 5px;
}

.checkbox-input {
    width: auto;
    height: 10%;
}

.label-politicas {
    width: 100%;
    font-size: 12px;
}