html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
img{
        position: relative;
        left: 10px;
        top: 10px;
}
.tit{
    background-color:transparent; 
    text-align: center;
    position: relative;
    left: 0px;
    color: #376072;
}

.menu{   
    position: relative;
    font-size: 20px;
}

.orientacionUL{
    position: relative;
    top: -59px;
    left: 0px;
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
}

.menu2{
    position: relative;
    font-size: 20px;
}

.orientacionUL2{
    position: relative;
    left: 990px;
    top: -114px;
    list-style: none;
    display: flex;
    gap: 30px;
    padding: -5px;
    
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
    padding: 3px;
    
}

.orientacionUL a,
.orientacionUL2 a {
  color: #376072;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
  
}

/* Hover: cambia color del texto y fondo */
.orientacionUL a:hover,
.orientacionUL2 a:hover {
  color: rgb(255, 255, 255);
  background-color: #376072;
  
}

.texto1{
    background-color: #376072;
    text-align: center;
    color: white;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    left: 200px;
    font-size: 30px;
}

